/* ============================================================================================ */
/* GLOBAL STYLES */

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #0e0e0e;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}

.section-page {
  padding: 100px 0;
}

.nav__btn {
  display: none;
}

/* ============================================================================================= */
/* HEADER  */

.header {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center 50px;
  position: relative;
}

.header::before {
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  position: absolute;
  background: linear-gradient(
    180deg,
    #0e0e0e 0%,
    rgba(17, 17, 17, 0.850295) 16.53%,
    rgba(32, 31, 33, 0) 100%
  );
  transform: rotate(180deg);
}

.nav {
  position: relative;
  padding-top: 50px;
  padding-bottom: 58px;
  background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 43.62%,
    rgba(32, 31, 33, 0) 86.33%
  );
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list-item {
  padding: 0 13px;
}

.nav__list-link {
  font-size: 36px;
  line-height: 42px;
}

.nav__list-link:hover {
  text-decoration-line: underline;
  color: #85ccdc;
}

.header__logo {
  text-align: center;
  padding-top: 17vh;
}

/* ============================================================================================= */
/* SECTION ABOUT  */

.about {
  margin-bottom: 100px;
}

.title {
  font-size: 36px;
  line-height: 42px;
  padding-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 400;
}

.about__box {
  display: flex;
}

.about__left {
  width: 370px;
  margin-right: 55px;
  flex: none;
}

.about__left-item span {
  display: block;
}

.about__left-item {
  margin-bottom: 25px;
  color: #e5e5e5;
}

.about__text {
  margin-bottom: 25px;
}

/* ============================================================================================= */
/* SECTION VIDEO  */

.video {
  background-image: url("../images/video-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: right;
}

.video__text {
  padding-top: 45vh;
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
  margin-bottom: 40px;
}

.video__text span {
  padding-right: 285px;
  display: block;
}

.video__btn {
  padding-left: 112px;
  position: relative;
  margin-right: 230px;
}

.video__btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  background-image: url("../images/youtube.svg");
  top: -40px;
}

/* ============================================================================================= */
/* SECTION SEASONS  */

.seasons__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-gap: 100px 75px;
  counter-reset: counter;
  padding-top: 50px;
}

.seasons__item {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seasons__item:hover .seasons__link {
  opacity: 1;
}

.seasons__item::before {
  content: "0" counter(counter);
  counter-increment: counter;
  position: absolute;
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  color: #600e09;
  left: 0;
  top: -72px;
  z-index: -1;
}

.seasons__item:nth-child(n + 10)::before {
  content: counter(counter);
}

.seasons__item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(14, 14, 14, 0.8);
}

.seasons__link {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  padding: 12px 78px 11px;
  background-color: #0e0e0e;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
}

/* ============================================================================================= */
/* SECTION SLIDERS  */

.heroes__inner {
  display: flex;
  justify-content: space-between;
}

.heroes__slider-img {
  max-width: 775px;
}

.heroes__slider-text {
  max-width: 350px;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}

.slick-prev {
  left: 38px;
}

.slick-next {
  right: 38px;
}

.heroes__name {
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85ccdc;
  margin-bottom: 44px;
}

.heroes__text p {
  margin-bottom: 15px;
}

/* ============================================================================================= */
/* FOOTER */

.copy {
  padding: 14px 0 15px;
  text-align: center;
}

/* ============================================================================================= */
/* SECOND PAGE SEASONS */

.page-logo {
  position: absolute;
}

.nav__list-link--active {
  text-decoration-line: underline;
  color: #85ccdc;
}

.page-header {
  background-image: url("../images/season-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 85vh;
  position: relative;
}

.season-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1385px;
  padding: 44px 47px 64px 35px;
  display: flex;
  background-color: #0e0e0e;
}

.season-info__num {
  font-weight: bold;
  font-size: 96px;
  line-height: 56px;
  text-align: center;
  margin-right: 51px;
}

.season-info__num span {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.season-info__text p {
  margin-bottom: 15px;
}

.nav__container {
  max-width: 1385px;
  margin: 0 auto;
  position: relative;
}

/* ============================================================================================= */
/* MEDIA */

@media (max-width: 1420px) {
  .page-logo {
    left: 10px;
    top: -6px;
  }
}

@media (max-width: 1366px) {
  .logo__img {
    width: 50%;
  }
  .nav__list-link {
    font-size: 24px;
    line-height: 32px;
  }
  .about__left {
    width: 250px;
  }
  .page-header {
    height: 120vh;
  }
}

@media (max-width: 1200px) {
  .heroes__inner {
    display: block;
  }
  .heroes__slider-text {
    max-width: 100%;
    padding-top: 50px;
  }
  .heroes__slider-img {
    max-width: 100%;
  }
  .title {
    padding-top: 0;
  }
  .section-page {
    padding: 50px 0;
  }
}

@media (max-width: 1075px){
  .video__text {
    font-size: 60px;
    line-height: 56px;
  }
  .video__text span {
    padding-right: 250px;
  }
  .title {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .section-page {
    padding: 50px 0;
  }
  .seasons__item {
    height: 340px;
  }
}

@media (max-width: 992px) {
  .page-logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .about__box {
    display: block;
  }
  .title {
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 36px;
  }
  .about {
    margin-bottom: 50px;
  }
  body {
    font-size: 16px;
    line-height: 19px;
  }
  .section-page {
    padding: 50px 0;
  }
  .video__text {
    font-size: 48px;
    line-height: 56px;
  }
  .video__text span {
    padding-right: 200px;
  }
  .video__btn {
    margin-right: 0;
    padding-left: 62px;
  }
  .video__btn::before {
    width: 50px;
    height: 50px;
    background-size: cover;
    top: -16px;
  }
  .seasons__inner {
    grid-gap: 80px 35px;
  }
  .slick-btn {
    display: none;
  }
  .heroes__name {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 25px;
  }
  .season-info {
    display: block;
    padding: 30px 20px 0px 10px;
  }
  .season-info__num {
    text-align: left;
    font-size: 50px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .season-info__num span {
    font-size: 25px;
    line-height: 32px;
  }
}

@media (max-width: 640px) {
  .nav {
    padding: 0;
    background: linear-gradient(
    180deg,
    #111213 0%,
    #111213 10%,
    rgba(32, 31, 33, 0) 86.33%
  );
  }
  .nav__list {
    display: block;
    text-align: center;
    transform: translateY(-130%);
    transition: all .3s;
  }
  .nav__list.nav__list--active {
    transform: translateY(0%);
    padding: 100px 0 50px;
    background-color: #0e0e0e;
  }
  .nav__list-link {
    display: block;
    padding: 10px 0;
  }
  .nav__btn {
    display: block;
    width: 50px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
  }
  .nav__btn span {
    background-color: #fff;
    height: 3px;
    width: 100%;
  }
  .nav__btn::after,
  .nav__btn::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
  }
  .nav__btn::before {
    top: 0;
    left: 0;
  }
  .nav__btn::after {
    bottom: 0;
    left: 0;
  }
  .header__logo {
    padding-top: 21vh;
  }
  .page-logo {
    display: block;
    z-index: 10;
    top: 22px;
  }
  .page-header {
    height: 120vh;
  }
}

@media (max-width: 414px) {
  .seasons__item {
    height: 203px;
  }
}

@media (max-width: 374px) {
  .page-header {
    height: 136vh;
  }
}